<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sunnyday</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="components/app.css">
    <link rel="stylesheet" href="components/city.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header__logo">
        </div>
        <div class="header__app-name">
          sunnyday
        </div>
      </div>
      <app></app>
    </div>

    <script type="text/x-template" id="template--app">
      <div>
        <div class="search-location" v-on:keyup.enter="getSearchCityWeather">
          <input
            type="text"
            class="search-bar"
            placeholder="Enter your city here..."
            v-model="newCity.citySearch"
          />
        </div>
        <div v-for="(city, index) in cities" :key="city.cityName">
          <city
          :cityName="city.cityName"
          :country="city.country"
          :feelsLike="city.feelsLike"
          :temperature="city.temperature"
          :weatherDescription="city.weatherDescription"
          :airDescription="city.airDescription"
          :components="city.components"
          :myTime="city.myTime"
          :stormy="city.stormy"
          :cloudy="city.cloudy"
          :clearSky="city.clearSky"
          :snowy="city.snowy"
          :main="city.main"
          :detailSeen="city.detailSeen"
          @deleteCity="deleteCity(index)"></city>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="template--city">
      <div>
        <div class="card-item">
          <div class="main-info">
            <div class="main-info__img-weather">
              <img src="img/01d.png" v-if="clearSky">
              <img src="img/04d.png" v-if="cloudy">
              <img src="img/10d.png" v-if="stormy">
              <img src="img/13d.png" v-if="snowy">
            </div>
            <div class="main-info__city-name">
              {{cityName}}
            </div>
            <div class="main-info__country">
              {{country}}, {{myTime}}
            </div>
            <div class="main-info__temperature">
              {{temperature}}&deg
            </div>
            <div class="main-info__close-button" @click="deleteCity(index)">
            </div>
          </div>
          <div class="extra-info">
            <div class="extra-info__weather-description">
              {{weatherDescription}}
            </div>
            <div class="extra-info__feels-like">
              Feels like {{feelsLike}}&deg
            </div>
          </div>
          <div class="air-quality">
            <div class="air-quality__air-description">
              {{airDescription}} air quality
            </div>
          </div>
          <div class="details">
            <div class="details--show" v-on:click="detailSeen = !detailSeen">
            </div>
          </div>
        </div>
        <div class="card-item-details" v-if="detailSeen">
          <table class="card-item-details__table">
              <tr>
                <th>Air pollution component</th>
                <th>Concentration</th>
              </tr>
              <tr>
                <td>CO</td>
                <td>{{components.co}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>NH<sub>3</sub></td>
                <td>{{components.nh3}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>NO</td>
                <td>{{components.no}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>NO<sub>2</sub></td>
                <td>{{components.no2}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>O<sub>3</sub></td>
                <td>{{components.o3}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>PM<sub>2.5</sub></td>
                <td>{{components.pm2_5}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>PM<sub>10</sub></td>
                <td>{{components.pm10}} μg/m<sup>3</sup></td>
              </tr>
              <tr>
                <td>SO<sub>2</sub></td>
                <td>{{components.so2}} μg/m<sup>3</sup></td>
              </tr>
          </table>
        </div>
        <br>
        <br>
      </div>
    </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="components/city.js"></script>
  <script src="components/app.js"></script>
  <script src="index.js"></script>
  </body>
</html>
