@font-face {
    font-family: "DINNextLTPro";
    src: url(/home/denisa/work/weather-app/weather-app/frontend/fonts/DINNextLTPro-Regular.woff) format('woff')
}


@font-face {
    font-family: "DINNextLTPro";
    src: url(/home/denisa/work/weather-app/weather-app/frontend/fonts/DINNextLTPro-Medium.woff) format('woff');
    font-weight: 600;
}


@font-face {
    font-family: "DINNextLTPro";
    src: url(/home/denisa/work/weather-app/weather-app/frontend/fonts/DINNextLTPro-Bold.woff) format('woff');
    font-weight: bold;
}


html, body {
  font-size: 15px;
  font-family: 'DINNextLTPro';
  background-image: #f3f8ff;
}


.card-item {
  font-size: 1.2rem;
  border: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 9px #cfcdcf;
}


.clear-sky-few-clouds {
  background-image: linear-gradient(to bottom right, #b9d5f7, #87b0db);
  color: #ffffff;
}


.clouds {
  background-image: linear-gradient(to bottom right, #60798c, #8fb2d5);
  color: #ffffff;
}


.rain-thunderstorm {
  background-image: linear-gradient(to bottom right, #3b4045, #7087a0);
  color: #ffffff;
}


.snow-mist {
  background-image: linear-gradient(to bottom right, #f0f7fe, #c2dffd);
  color: #272727;
}


.main-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.main-info__img-weather {
  margin: -1rem -0.2rem -1rem 0rem;
}


.main-info__city-name {
  font-weight: 600;
  font-size: 2.9rem;
  padding-right: 1rem;
}


.main-info__country {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
}


.main-info__temperature {
  margin-left: auto;
  padding-top: 2rem;
  padding-right: 1.5rem;
  font-weight: 600;
  font-size: 4rem;
}


.main-info__close-button {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: -3rem;
  padding-left: 1.5rem;
  padding-bottom: 2.5rem;
  cursor: pointer;
}


.main-info__close-button:before, .main-info__close-button:after {
  position: absolute;
  content: ' ';
  height: 1rem;
  width: 0.2rem;
  margin-right: -2rem;
  background-color: black;
}


.main-info__close-button:before {
  transform: rotate(45deg);
}


.main-info__close-button:after {
  transform: rotate(-45deg);
}


.card-item:hover .main-info__close-button {
  display: inline-block;
}


.extra-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.extra-info__weather-description {
  flex: 1;
  text-align: left;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}


.extra-info__feels-like {
  flex: 1;
  text-align: right;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}


.air-quality {
  display: flex;
}


.air-quality__air-description {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.5rem;
}


.details {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}


.details--show {
  height: 0.6rem;
  width: 0.6rem;
  border-style: solid;
  border-color: white;
  border-width: 0px 3px 3px 0px;
  transform: rotate(-135deg);
  margin-top: -0.5rem;
  cursor: pointer;
}


.card-item-details {
  display: flex;
  color: #black;
  border: none;
  background: #ffffff;
  box-shadow: 4px 4px 9px #cfcdcf;
}


.card-item-details__table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1rem;
  margin: 0.8rem 1rem 1rem 1rem;
}


.card-item-details__table tr {
  border-bottom: 1px solid #ccc;
}


.card-item-details__table tr:last-of-type {
  border: none;
}


.card-item-details__table td {
  padding: 0.6rem;
}


.card-item-details__table th {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  text-align: left;
  border-bottom: 1px solid black;
  color: black;
}
